footer {
  background: getColor(white);
  padding: 10px;
  margin-top: 50px;

  .container-fluid {
    text-align: center;
  }
  @media only screen and (min-width: 800px) {
    .container-fluid {
      display: flex;
      justify-content: space-between;
    }
  }
}
